<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>




            <p:panelGrid columns="3" layout="grid">            


                <p:selectOneListbox id="station_" value="#{selectOneView.option}">
                    <f:selectItem itemLabel="Nice Arson" itemValue="1" />
                    <f:selectItem itemLabel="A?roport de Nice" itemValue="2" />
                    <f:selectItem itemLabel="Peillon" itemValue="3" />
                    <f:selectItem itemLabel="Nice Ouest Botanique" itemValue="4" />
                    <f:selectItem itemLabel="Nice Promenade des Anglais" itemValue="5" />
                    <f:selectItem itemLabel="Contes 2" itemValue="6" />
                </p:selectOneListbox>



                <p:selectOneListbox id="month_" value="#{selectOneView.month}">
                    <f:selectItem itemLabel="1" itemValue="1" />
                    <f:selectItem itemLabel="2" itemValue="2" />
                    <f:selectItem itemLabel="3" itemValue="3" />
                    <f:selectItem itemLabel="4" itemValue="4" />
                    <f:selectItem itemLabel="5" itemValue="5" />
                    <f:selectItem itemLabel="6" itemValue="6" />
                    <f:selectItem itemLabel="7" itemValue="7" />
                    <f:selectItem itemLabel="8" itemValue="8" />
                    <f:selectItem itemLabel="9" itemValue="9" />
                    <f:selectItem itemLabel="10" itemValue="10" />
                    <f:selectItem itemLabel="11" itemValue="11" />
                    <f:selectItem itemLabel="12" itemValue="12" />
                </p:selectOneListbox>


                <p:selectOneListbox id="year_" value="#{selectOneView.year}">
                    <f:selectItem itemLabel="2014" itemValue="1" />
                    <f:selectItem itemLabel="2015" itemValue="2" />
                    <f:selectItem itemLabel="2016" itemValue="3" />
                </p:selectOneListbox>
            </p:panelGrid>

            <p:separator />

            <p:commandButton value="Update" update="@([id$=itemsTable])" actionListener="#{polutionBean.update(selectOneView.option, selectOneView.month, selectOneView.year)}"  icon="ui-icon-check" />  
        </h:form>
        <h:form>
            <p:dataTable value="#{polutionBean.list}" var="item" id="itemsTable"

                         >
                <p:column >
                    <f:facet name="header">
                        <h:outputText value="Station"/>
                    </f:facet>
                    <h:outputText value="#{item.station}"/>
                </p:column>



                <p:column sortBy="#{item.date}">
                    <f:facet name="header">
                        <h:outputText value="Date"/>
                    </f:facet>
                    <h:outputText value="#{item.date}"/>
                </p:column>

                <p:column sortBy="#{item.value}">
                    <f:facet name="header">
                        <h:outputText value="Value"/>
                    </f:facet>
                    <h:outputText value="#{item.value}"/>
                </p:column>
                <p:column sortBy="#{item.pollutant}">
                    <f:facet name="header">
                        <h:outputText value="Pollutant"/>
                    </f:facet>
                    <h:outputText value="#{item.pollutant}"/>
                </p:column>
            </p:dataTable>
        </h:form>
    </h:body>
</html>

